h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    font-family: "Inter Variable", sans-serif;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -0.12rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: -0.075rem;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -0.06rem;
}

h4 {
  font-size: 1.75rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: -0.04375rem;
}

h5 {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
  letter-spacing: -0.03rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.015rem;
}

a {
  color: white;
}

small {
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: -0.00875rem;
}
