---
import { Icon } from "astro-icon/components";
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/fonts/inter/inter.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#95aed8" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#ffffff" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>welcome | srxl.me</title>
    <style>
      html,
      body {
        margin: 0;
        overflow: hidden;
      }

      h1 {
        margin-top: 0;
      }

      .left-block:before {
        content: "";
        z-index: 2;
        position: absolute;
        top: -100vh;
        width: 25vw;
        height: 200vh;
        background-color: #000;
        transform: skewX(9deg);
      }

      .bottom-block:before {
        content: "";
        z-index: 1;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #fff;
        transform: skewY(-5deg);
      }

      .tagline {
        width: calc(100% + 48px);
      }
      .icons {
        width: calc(100% + 14vh);
      }
    </style>
  </head>
  <body>
    <main
      class="grid grid-cols-[25vw_1fr] grid-rows-[1fr_25vh] w-screen h-screen"
    >
      <div class="left-block bg-black row-span-2">
        <div class="relative h-full flex flex-col z-10 p-8 text-white">
          <hgroup>
            <h1 class="text-h1">hi.<br />i'm ruby.</h1>
            <p class="tagline pt-2 text-h4 italic">welcome to my website.</p>
          </hgroup>

          <nav class="my-8 grow">
            <ul class="flex flex-col gap-4">
              <li>
                <a class="text-h3 underline" href="#">home</a>
                <small class="text-caption">(you are here)</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">about me</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">blog</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">projects</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
              <li>
                <a class="text-h3 text-grey-60 underline" href="#">gallery</a>
                <small class="text-caption text-white">coming soon</small>
              </li>
            </ul>
          </nav>

          <div class="icons flex items-end justify-end gap-4">
            <p class="italic">find me at:</p>
            <a href="https://cohost.org/srxl" rel="me" aria-label="cohost">
              <Icon name="eggbug" title="cohost" size={32} />
            </a>
            <a href="https://github.com/Sorixelle" rel="me" aria-label="github">
              <Icon name="simple-icons:github" title="github" size={32} />
            </a>
            <a
              href="https://matrix.to/#/@ruby:isincredibly.gay"
              rel="me"
              aria-label="matrix"
            >
              <Icon name="simple-icons:matrix" title="matrix" size={32} />
            </a>
            <a
              href="https://keyoxide.org/ruby@srxl.me"
              rel="me"
              aria-label="keyoxide"
            >
              <Icon name="ion:key-sharp" title="keyoxide" size={32} />
            </a>
            <a href="mailto:ruby@srxl.me" rel="me" aria-label="email">
              <Icon name="ion:mail-sharp" title="email" size={32} />
            </a>
          </div>
        </div>
      </div>
      <img
        class="w-full aspect-square mt-0 xl:mt-[-150px] overflow-hidden"
        alt="My avatar"
        src="/img/avatar.png"
      />
      <div class="bottom-block">
        <div class="relative z-10 flex justify-end">
          <div class="text-right pr-8 mt-[-16px]">
            <h2 class="text-h1">webrings</h2>
            <p class="text-body">coming soon.</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
