---
import { Icon } from "astro-icon/components";
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/fonts/inter/inter.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>welcome | srxl.me</title>
    <style>
      html,
      body {
        margin: 0;
        overflow: hidden;
      }

      h1 {
        margin-top: 0;
      }

      .left-block:before {
        content: "";
        z-index: 2;
        position: absolute;
        top: -100vh;
        width: 25vw;
        height: 200vh;
        background-color: #000;
        transform: skewX(9deg);
      }

      .bottom-block:before {
        content: "";
        z-index: 1;
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: #fff;
        transform: skewY(-5deg);
      }

      .icons {
        width: calc(100% + 14vh);
      }
    </style>
  </head>
  <body>
    <main
      class="grid grid-cols-[25vw_1fr] grid-rows-[1fr_25vh] w-screen h-screen"
    >
      <div class="left-block bg-black row-span-2">
        <div class="relative h-full flex flex-col z-10 p-8 text-white">
          <h1 class="text-h1">hi.<br />i'm ruby.</h1>
          <h4 class="pt-2 text-h4 italic">welcome to my website.</h4>

          <ul class="mt-8 grow flex flex-col gap-4">
            <li>
              <h3 class="text-h3">
                <a class="underline" href="#">home</a>
                <small class="text-caption">(you are here)</small>
              </h3>
            </li>
            <li>
              <h3 class="text-h3">
                <a class="underline" href="#">about me</a>
              </h3>
            </li>
            <li>
              <h3 class="text-h3"><a class="underline" href="#">blog</a></h3>
            </li>
            <li>
              <h3 class="text-h3">
                <a class="underline" href="#">projects</a>
              </h3>
            </li>
            <li>
              <h3 class="text-h3"><a class="underline" href="#">gallery</a></h3>
            </li>
          </ul>
          <div class="icons flex items-end justify-end gap-4">
            <h5 class="text-h5">find me at:</h5>
            <a href="https://cohost.org/srxl" rel="me">
              <Icon name="eggbug" size={48} />
            </a>
            <a href="https://github.com/Sorixelle" rel="me">
              <Icon name="simple-icons:github" size={48} />
            </a>
            <a href="https://matrix.to/#/@ruby:isincredibly.gay" rel="me">
              <Icon name="simple-icons:matrix" size={48} />
            </a>
            <a href="https://keyoxide.org/ruby@srxl.me" rel="me">
              <Icon name="ion:key-sharp" size={48} />
            </a>
            <a href="mailto:ruby@srxl.me" rel="me">
              <Icon name="ion:mail-sharp" size={48} />
            </a>
          </div>
        </div>
      </div>
      <img
        class="w-full aspect-square mt-0 xl:mt-[-150px] overflow-hidden"
        src="/img/avatar.png"
      />
      <div class="bottom-block">
        <div class="relative z-10 flex justify-end">
          <div class="text-right pr-8 mt-[-16px]">
            <h1 class="text-h1">webrings</h1>
            <p class="text-body">coming soon.</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
