---
import "@fontsource-variable/inter";
import "@fontsource/inter";

import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>hi.<br />i'm ruby.</h1>
    <h4>welcome to my website.</h4>
  </body>
</html>
