---
import "../styles/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/fonts/inter/inter.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style>
      html,
      body {
        margin: 0;
      }

      .container {
        height: 100vh;
        display: grid;
        grid-template-columns: 2fr 5fr;
        grid-template-rows: 2fr 1fr;
      }

      .side-nav {
        grid-row-start: 1;
        grid-row-end: 3;
        background-color: black;
      }

      .avatar {
        background-color: cyan;
      }

      .webrings {
        background-color: white;
      }

      .left-block::before {
        content: "";
        position: absolute;
        left: -100px;
        top: 0;
        width: 35vw;
        height: 100vh;
        background-color: #000;
        transform: skewX(9deg);
      }

      .block-content {
        position: relative;
        padding: 16px;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <main class="container">
      <div class="side-nav"></div>
      <div class="avatar"></div>
      <div class="webrings"></div>
    </main>
  </body>
</html>
